.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.point {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    /* position: absolute; */
    /* right: -7px;
    top: -6px; */
    position: relative;
    right: -95px;
    top: -25px;
}